<ion-header>
  <ion-navbar color="teal-blue" mode="ios">
    <ion-buttons start>
      <button ion-button (click)="onClickClose()" style="font-size:2.3rem">
        <ion-icon name="arrow-dropdown-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">
      Activities
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newActivity()">
        <ion-icon
          name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines reorder="true"
            (ionItemReorder)="activitiesService.reorder($event)">

    <ion-item-sliding (click)="toggleTimer(activity)"
                      *ngFor="let activity of activitiesService.activities">

      <ion-item>
        <ion-spinner *ngIf="activity.active" name="bubbles"
                     item-left></ion-spinner>
        <h6>{{activity.name}}</h6>
        <p>{{activity.totalSeconds}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button color="light" ion-button icon-only
                (click)="editActivity(activity)">
          <ion-icon name="settings"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only
                (click)="activitiesService.removeActivity(activity)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
